.leftBar{
   flex-basis: 20%;
   height: 130vh;
   background-color:  rgb(58, 57, 57);
}

.left_header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.left_header > img {
    height: 50px !important;
    width: 120px !important;
    margin: 10px 10px;
}

.left_header > h3 {
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
}

.leftbar_row {
    display: flex;
    align-items: center;
    margin: -15px 20px;
    padding: 5px 9px;
}

.leftbar_title {
    flex: 1;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: gray;
}

.leftbar_icon {
    font-size: large !important;
    color: #606060;
}

.left_middle {
    margin: 10px 10px;
    margin-top: 20px;
}
.leftbar_row:hover {
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    padding: 2px 2px;
}
.left_footer {
    position: fixed;
    bottom: 0;
    flex-basis: 20%;
    color: white;
    margin: 5px 5px;
    /* padding: 10px; */
    text-align: center;
    align-items: center;
}

.left_footer > hr {
    height: 2px;
    border: 0;
    flex-basis: 20%;
    /* width: 15vw; */
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left_footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 10vw;
    color: white;
    padding: 5px 2px;
    margin: 10px 13px;
    text-align: center;
}

.left_footer2 > img {
    height: 20px !important;
    width: 40px !important;
    margin: 10px 10px;
    padding: 10px 10px;
}

.left_footer2_content {
    padding: 2px 15px;
    font-size: 1rem;
    font-weight: 500;
}